main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 180px;

  gap: 50px;

  font-family: sans-serif;
}
.album-num {
  font-weight: 600;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 15px;
}
.armageddon {
  background-color: #455c38;

  border-radius: 45px;
  overflow: hidden;

  border: 1px solid #455c38;

  color: #dceac5;
}

.supernova {
  background-color: #0d0a0e;

  border-radius: 45px;
  overflow: hidden;

  border: 1px solid #0d0a0e;

  color: white;
  -webkit-text-stroke: 0.3px #ff00ff;
  text-shadow:
    0 0 2px #ff00ff,
    0 0 6px #ff00ff,
    0 0 12px #ff00ff,
    0 0 24px #ff00ff,
    0 0 48px #ff00ff;
}

.savage {
  background-color: #b1d0ec;

  border-radius: 45px;
  overflow: hidden;

  border: 1px solid #b1d0ec;

  color: #00001c;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}
.album-logo {
  padding-top: 40px;
  width: 300px;
}
.cover {
  width: 800px;
}

.tracklist {
  width: 100%;
  padding-bottom: 7px;

  border-collapse: collapse;

  background-color: white;

  margin-bottom: 40px;

  color: black;
}

.armageddon .tracklist table,
.armageddon .tracklist th,
.armageddon .tracklist td {
  border: 1px solid #455c38;
  padding: 5px;

  text-align: center;
  vertical-align: middle;
}

.supernova .tracklist table,
.supernova .tracklist th,
.supernova .tracklist td {
  border: 1px solid gray;
  padding: 5px;

  text-align: center;
  vertical-align: middle;

  -webkit-text-stroke: 0;
  text-shadow: none;
}

.supernova .tracklist th {
  background-color: #0d0a0e;

  color: #ff00ff;
}

.savage .tracklist table,
.savage .tracklist th,
.savage .tracklist td {
  border: 1px solid #b1d0ec;
  padding: 5px;

  text-align: center;
  vertical-align: middle;
}

.tracklist th {
  font-weight: 600;
}

.num {
  width: 60px;
}

.badges {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px;
  gap: 5px;
}
.armageddon .badges p {
  padding: 5px;
  border: 1px solid #455c38;
  border-radius: 45px;

  background-color: #455c38;
  font-size: 11px;
  font-weight: 500;
  color: #dceac5;
}
.supernova .badges p {
  padding: 5px;
  border: 1px solid #0d0a0e;
  border-radius: 45px;

  background-color: #0d0a0e;
  font-size: 11px;
  font-weight: 500;
  color: #ff00ff;
}
.savage .badges p {
  padding: 5px;
  border: 1px solid #b1d0ec;
  border-radius: 45px;

  background-color: #b1d0ec;
  font-size: 11px;
  font-weight: 500;
  color: #00001c;
}
.link {
  width: 60px;
}
.ytb-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
