main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 180px;

  gap: 50px;

  font-family: sans-serif;
}
.album-num {
  font-weight: 600;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 15px;
}
.armageddon {
  background-color: #455c38;

  border-radius: 45px;
  overflow: hidden;

  border: 1px solid #455c38;

  color: #dceac5;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}
.album-logo {
  padding-top: 40px;
  width: 300px;
}
.cover {
  display: block;
  width: 500px;
}

.tracklist {
  width: 100%;
  padding-bottom: 7px;

  border-collapse: collapse;

  background-color: white;

  margin-bottom: 40px;

  color: black;
}

.tracklist table,
.tracklist th,
.tracklist td {
  border: 1px solid #455c38;
  padding: 5px;

  text-align: center;
  vertical-align: middle;
}

.tracklist th {
  font-weight: 600;
}

.num {
  width: 60px;
}

.badges {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 3px;
  gap: 5px;
}
.badges p {
  padding: 5px;
  border: 1px solid #455c38;
  border-radius: 45px;

  background-color: #455c38;
  font-size: 11px;
  font-weight: 500;
  color: #dceac5;
}

.link {
  width: 60px;
}
.ytb-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
