* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-container h1 {
  font-size: 64px;
  font-weight: 700;
  background: linear-gradient(to right, #c88ddd, #9ceafe);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0px 0px 7px #fc6a6a);
}

.gallery-section h2 {
  font-size: 36px;
  font-weight: 700;
}

.gallery-container {
  display: flex;
  width: 1400px;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;

  gap: 90px;
}

.gallery-header {
  display: flex;
  width: 100vw;
  height: 450px;
  background-color: #111111;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo-silver {
  width: 892px;
  height: 349px;
  position: absolute;
  opacity: 0.25;
}

.mv-container {
  display: flex;
  width: 1200px;
  justify-content: center;
  justify-content: space-between;
  gap: 30px;
}

.mv-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.mv-card p {
  font-size: 20px;
}

.mv-thumbnail {
  width: 360px;
  height: 200px;
  border-radius: 20px;
  transition: transform 0.3s ease;

  cursor: pointer;
}

.mv-thumbnail:hover {
  transform: scale(1.1);
}

/* 1. 모달 기본 상태 (숨김) */
.css-modal {
  display: none; /* 평소에는 안 보임 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

/* 2. 핵심 로직: URL에 #youtube-popup-n이 붙으면 모달 표시 */
.css-modal:target {
  display: block;
}

/* 중앙 정렬 컨텐츠 */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 800px;
}

/* 닫기 버튼 (#을 빈 링크로 보내 target을 해제함) */
.close-btn {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 10px;
}
.close-btn:hover {
  color: #ff4c4c;
}

/* 16:9 반응형 유튜브 */
.youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  clear: both;
}
.youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.gallery-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.photo-container {
  display: grid;
  width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  align-items: center;
  justify-items: center;
}

.photo {
  /* width: 360px;
  height: 200px; */

  width: 100%;
  height: 100%;
  object-fit: fill;
  transition: transform 0.3s ease;
}

.photo:hover {
  transform: scale(1.2);
}

strong {
  font-weight: 600;
}
