input {
  border: none; /* 기본 테두리 제거 */
  outline: none; /* 포커스 파란 테두리 제거 */
  background: none; /* 기본 배경 제거 */
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 4.375rem 0px 4.375rem 0;
}

.main-container {
  width: 50rem;
  background-color: rgba(0, 0, 0, 0.95);
  background-image: url("../images/aespa_sliver_logo.png");
  background-repeat: no-repeat;
  background-size: 12.5rem;
  background-position: center 3rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  box-shadow: 0 2px 2px black;
  gap: 1.5rem;
  border-radius: 5px;
}

.title-input {
  margin-top: 5rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.subtitle {
  color: white;
  font-weight: 700;
  font-size: 1.125rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}
.back-button {
  background-color: white;
  padding: 0.75rem 1.4375rem 0.75rem 1.4375rem;
  border-radius: 8px;
  box-shadow: 0 2px 2px black;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.25s ease;
}

.back-button:hover {
  transform: scale(1.1);
}

.back-button:active {
  transform: scale(0.9);
}

.submit-button {
  background: linear-gradient(to right, #c88ddd, #9ceafe);
  padding: 0.75rem 1.4375rem 0.75rem 1.4375rem;
  border-radius: 8px;
  box-shadow: 0 2px 2px black;
  cursor: pointer;
  font-weight: 600;
  color: white;
  transition: transform 0.25s ease;
}

.submit-button:hover {
  transform: scale(1.1);
}

.submit-button:active {
  transform: scale(0.9);
}

.input {
  background-color: white;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 12px;
  font-weight: 400;
  font-size: 1rem;
}

.select {
  background-color: white;
  padding: 1.3125rem 1.5rem 1.3125rem 1.5rem;
  border-radius: 12px;
  outline: none;
}

.textarea {
  background-color: white;
  padding: 1.3125rem 1.5rem 1.3125rem 1.5rem;
  border-radius: 12px;
  height: 21.875rem;
  resize: none;
  outline: none;
}

.modal {
  display: none;
}

.modal:target {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-container {
  position: relative;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  display: flex;
  width: 46.875rem;
  gap: 1.25rem;
  justify-content: space-between;
  border: 10px solid transparent;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #c88ddd, #9ceafe) border-box;
}

.modal-img {
  width: 25rem;
  border: 1px solid black;
}

.modal-logo {
  width: 6.25rem;
}

.modal-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.modal-font {
  font-weight: 600;
  font-size: 1rem;
}

.modal-button {
  background-color: #223055;
  color: white;
  padding: 0.75rem 1.4375rem 0.75rem 1.4375rem;
  border-radius: 8px;
  box-shadow: 0 2px 2px black;
  cursor: pointer;
  transition: transform 0.25s ease;
}
.modal-button:hover {
  transform: scale(1.1);
}

.modal-button:active {
  transform: scale(0.9);
}
